<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
    <h1>Todo List</h1>
    <div>Add a new todo item: 
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="todoitem">
            <input type="submit" value="Add Item">
        </form>
    </div>
    <div>
        <h2>Todo Items</h2>
        <ol>
            {% for item in todo %}
            <li style="font-size: 30pt">{{ item.text }} <a href="{{ url_for('doing', id=item.id) }}">Mark As Doing</a><a href="{{ url_for('done', id=item.id) }}">Mark As Done</a></li>
            {% endfor %}    
        </ol>

        <h2>Doing Items</h2>
        <ol>
            {% for item in doing %}
            <li style="font-size: 30pt">{{ item.text }} <a href="{{ url_for('todo', id=item.id) }}">Mark As Todo</a> <a href="{{ url_for('done', id=item.id) }}">Mark As Done</a> </li>
            {% endfor %}    
        </ol>

        <h2>Done Items</h2>
        <ol>
            {% for item in done %}
            <li style="font-size: 30pt">{{ item.text }} <a href="{{ url_for('todo', id=item.id) }}">Mark As Todo</a> <a href="{{ url_for('doing', id=item.id) }}">Mark As Doing</a> <a href="{{ url_for('delete', id=item.id) }}">Delete</a> </li>
            {% endfor %}    
        </ol>

        <!-- 
        <h2>Incomplete Items</h2>
        <ul>
            {% for todo in incomplete %}
            <li style="font-size: 30pt">{{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}">Mark As Complete</a></li>
            {% endfor %}    
        </ul>
        <h2>Completed Items</h2>
        <ul>
            {% for todo in complete %}
            <li style="font-size: 30pt">{{ todo.text }}</li>
            {% endfor %}
        </ul>
        -->
    </div>
</body>
</html>